name: Simple Test Action

on:
  workflow_dispatch:   # Allows manual triggering

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: 23f3001122@ds.study.iitm.ac.in
        run: echo "Hello, world!"
